<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sybus.android.userapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.examples.dialogActivity"
            android:label="@string/title_activity_dialog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.MapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/title_activity_search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ForgetPassword"
            android:label="@string/title_activity_forget_password">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.DetailActivity"
            android:label="@string/title_activity_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.SearchActivity" />
        </activity>
        <activity
            android:name=".ui.UserLocationActivity"
            android:label="@string/title_activity_user_location"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ViewRouteActivity"
            android:label="@string/title_activity_view_route">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.view_traffic"
            android:label="@string/title_activity_view_traffic">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.view_route_on_map"
            android:label="@string/title_activity_view_route_on_map"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ViewRouteActivity" />
        </activity>
        <activity
            android:name=".ui.view_traffic_roads"
            android:label="@string/title_activity_view_traffic_roads">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.view_traffic" />
        </activity>
        <activity
            android:name=".ui.view_traffic_roads_on_map"
            android:label="@string/title_activity_view_traffic_roads_on_map"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.view_traffic_roads" />
        </activity>
        <activity
            android:name=".ui.submit_query"
            android:label="@string/title_activity_submit_query">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.create_account"
            android:label="@string/title_activity_create_account">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.pinned_map_view"
            android:label="@string/title_activity_pinned_map_view"></activity>
        <activity
            android:name=".ui.view_walking_route_on_map"
            android:label="@string/title_activity_view_walking_route_on_map"></activity>
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sybus.android.userapp.ui.MainActivity" />
        </activity>
    </application>

</manifest>
